.sidebar {
    height: 100vh;
    /* 讓側邊欄佔滿整個頁面高度 */
    width: 250px;
    /* 這裡調整選單的寬度 */
    background-color: #333;
    color: #fff;
}

.note-list {
    padding: 20px;
    height: calc(100% - 50px);
    /* 減去新增筆記按鈕的高度 */
    overflow-y: auto;
    /* 若筆記列表高於側邊欄，添加滾動條 */
}

.note-item {
    padding: 10px;
    cursor: pointer;
}

.note-item:hover {
    background-color: #444;
    /* 滑過時高亮顯示 */
}

button {
    display: block;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.new-note-btn {
    background-color: #4CAF50;
}

.delete-note-btn {
    background-color: #f44336;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.delete-note-btn:hover {
    opacity: 0.8;
}

/* 新增這段代碼 */
.delete-note-btn-container {
    float: right;
    margin-top: -5px;
    /* 調整按鈕位置 */
}

.main-content {
    flex: 1;
    display: flex;
    padding: 20px;
}

#noteContent {
    width: calc(100% - 200px);
    /* 設置 textarea 寬度，這裡假設左側 sidebar 寬度為 200px */
    flex: 1;
    /* 填充剩餘空間 */
    overflow-y: scroll;
    /* 允許垂直滾動 */
}

#noteContent div {
    margin-bottom: 10px;
    /* 調整每個 textarea 區域之間的間距 */
}

#noteContent textarea {
    width: 95%;
    /* 讓 textarea 佔據 noteContent 的整個寬度 */
    font-size: 16px;
    /* 設置文字大小 */
    color: black;
    /* 設置文字顏色 */
}

.navigation {
    position: fixed;
    /* 固定在網頁上方 */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2A475C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    z-index: 999;
    /* 確保位於最上層 */
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline;
    margin-right: 10px;
}

.navigation a {
    color: white;
    font-size: 18px;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px 10px 12px 10px;
}

.navigation a:hover {
    background-color: #375672;
}

.content {
    display: flex;
    flex: 1;
}